## Работа с базой данных из Python

Для взаимодействия запросов на python с БД существует пакет PSYCOPG2

Установка с помощью pip:

``` python
    !pip install psycopg2
```

Если при установке возникает ошибка, похожая на “connection error: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:598)”, можно установить пакет следующим образом:

``` python
    !pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org --trusted-host pypi.python.org psycopg2
```

Теперь посмотрим, как можно подключиться к нашей базе и выполнять запросы из Jupyter-ноутбука.

Для подключения нам потребуются следующие данные:

* dbname — название базы, к которой нужно подключиться;

* user — имя пользователя в СУБД;

* password — пароль;

* host — адрес, по которому нужно подключиться;

* port — порт, к которому нужно подключиться (по умолчанию равен 5432).

In [19]:
import psycopg2
import pandas as pd

In [20]:
# Настройки с параметрами к нашей БД
connection = psycopg2.connect(
    dbname=DBNAME, 
    user=USER,
    password=PASSWORD,
    host=HOST,
    port=PORT
    )

In [21]:
# Простой запрос к нашей таблице
n = 10
query = f''' 
select * 
from sql.pokemon 
limit {n}
'''

In [22]:
# Тут используется метод pandas read_sql_query(ссылка на запрос, ссылка на подключение)
df = pd.read_sql_query(query, connection)
df

/var/folders/0g/dcvscgwn2bx5ldpwsnftw38c0000gn/T/ipykernel_11471/2334421552.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   id                       name  type1   type2  hp  attack  defense  speed
0   1                  Bulbasaur  Grass  Poison  45      49       49     45
1   2                    Ivysaur  Grass  Poison  60      62       63     60
2   3                   Venusaur  Grass  Poison  80      82       83     80
3   4      VenusaurMega Venusaur  Grass  Poison  80     100      123     80
4   7                  Charizard   Fire  Flying  78      84       78    100
5   8  CharizardMega Charizard X   Fire  Dragon  78     130      111    100
6   9  CharizardMega Charizard Y   Fire  Flying  78     104       78    100
7  16                 Butterfree    Bug  Flying  60      45       50     70
8  17                     Weedle    Bug  Poison  40      35       30     50
9  18                     Kakuna    Bug  Poison  45      25       50     35

In [23]:
# В финале не забываем закрыть подключение к БД
connection.close()

## Знакомство в базой данных

Представьте, что вы устроились на работу в кадровое агентство, которое подбирает вакансии для IT-специалистов. Ваш первый проект — создание модели машинного обучения, которая будет рекомендовать вакансии клиентам агентства, претендующим на позицию Data Scientist. Сначала вам необходимо понять, что из себя представляют данные и насколько они соответствуют целям проекта. В литературе эта часть работы над ML-проектом называется Data Understanding, или анализ данных.

Наш проект включает в себя несколько этапов:

1. знакомство с данными;
2. предварительный анализ данных;
3. детальный анализ вакансий;
4. анализ работодателей;
5. предметный анализ.

Далее вся работа будет вестись в Project.ipynb